/* STYLE SHEET FOR Cecilia'sWebsite.html */

body
{
	font-family: sans-serif, calibri, arial;
	color: black;
	font-size: 14px;
	background-color: plum;
}
 
.center 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.active
{
	background-color: plum;
	color: black;
}


p 
{
	font-family: "sans-serif", calibri, arial;
	color: black;
	font-size: 14px;
}


	





